<h1>Home#about</h1>
<p>Find me in app/views/home/about.html.erb</p>
<p><color=light green><fontBitstream Charter>=Imagine what you could build if you learned Ruby on Rails…

Learning to build a modern web application is daunting. Ruby on Rails makes it much easier and more fun. It includes everything you need to build fantastic applications, and you can learn it with the support of our large, friendly community.</font></color></P>
<marquee> shubham sushil saumya</marquee>

